<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings>
		<add key="token" value="5344951741:AAHWQxR9T7X0YYTEpP3i0C3ujqSwpUGZKz0"/>
		<add key="address" value="https://api.trongrid.io/v1/accounts/"/>
		<add key="connectionString" value="data source=DESKTOP-E9N99NA;initial catalog=GAME;user id=sa;password=sa123456"/>
		--><!--<add key="register" value="http://8.210.225.99/api/Game/Register"/>--><!--
		<add key="register" value="http://192.168.31.103:8081/api/Game/Register"/>
		<add key="boturl" value="https://t.me/yuanrang_bot?start="/>
	</appSettings>-->

	<appSettings>
		<add key="token" value="5344951741:AAHWQxR9T7X0YYTEpP3i0C3ujqSwpUGZKz0"/>
		<add key="address" value="https://api.trongrid.io/v1/accounts/"/>
		<add key="connectionString" value="data source=DESKTOP-E9N99NA;initial catalog=GAME;user id=sa;password=sa123456"/>
		<!--<add key="connectionString" value="data source=rm-3ns262p9tkpgy22n7qo.sqlserver.rds.aliyuncs.com;initial catalog=GAME;user id=game;password=sa123456!"/>-->
		<!--<add key="RedisString" value="r-3nsctjtbd9pg8xa5vkpd.redis.rds.aliyuncs.com:6379,password=sa123456!,defaultDatabase=0,poolsize=50,ssl=false,writeBuffer=10240"/>-->

		<!--<add key="connectionString" value="data source=rm-3ns262p9tkpgy22n71o.sqlserver.rds.aliyuncs.com;initial catalog=GAME;user id=game;password=sa123456!"/>-->
		<add key="RedisString" value="r-3nsctjtbd9pg8xa5vkpd.redis.rds.aliyuncs.com:6379,password=sa123456!,defaultDatabase=0,poolsize=50,ssl=false,writeBuffer=10240"/>
		<add key="register" value="http://8.210.225.99/api/Game/Register"/>
		<!--<add key="register" value="http://192.168.31.103:8081/api/Game/Register"/>-->
		<add key="boturl" value="https://t\.me/yuanrang\_bot?start\="/>
	</appSettings>
</configuration>

